html,body{
    font-family: Montserrat;
    max-width: 100%;
    overflow-x: hidden;
   }
   
   .App{
     width: 722px;
     margin: 0 auto;
   }

   @media screen and (max-width: 600px) {
     .App{
       width: 95%;
     }
   }