.ArticleCard1Wrapper{
    width: 100%;
    /* border: 2px dashed red; */
    /* background-color: white; */
}

.ArticleSideFixedDiv{
    position: fixed;
    height: 100px;
    width: 150px;
    margin-top: 150px;
    z-index: -1;
}

.ArticleSideFixedDiv img{
    height: 80px;
    width: 140px;
}

.ArticleCard1main{
    width: 48%;
    height: 1100px;
    /* border: 2px solid black; */
    margin: 0 auto;
}

.ArticleCard1head{
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 0;
}

.AuthorDetails1{
    display: flex;
    flex-direction: row;
    font-size: 9px;
    font-family: Montserrat;
    margin-top: 10px;
    justify-content: space-between;
}

.AuthorProfilePicture1{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.Article1CardText{
    margin-left: 4%;
}

.AuthorName1{
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.ArticleCard1end{
    font-size: 8px;
    margin-top: 6px;
    color: gray;
}

.AuthorDetailsWrapper{
    width: 60%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
}

.ArticleCard1iconslaptop{
    /* border: 2px solid salmon; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:35%;
}

.ArticleCard1iconlaptop{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #d8d8d8;
    font-size: 10px;
    margin-left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 20%;
}

.ArticleCardImage1{
    width: 100%;
}

.ArticleCard1desc{
    line-height: 17px;
    font-size: 12px;
}

.ArticleCard1Tags{
    display: flex;
    flex-direction: row;
}

.Tag{
    height: 15px;
    background-color: #f2f2f2;
    margin-right: 8px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color:  #969696;
    font-size: 9px;
    font-family: Montserrat;
}

.ArticleCard1Clap{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    color: gray;
    align-items: center;
    font-size: 10px;
    font-family: Montserrat;
}

.ArticleCard1Clap img{
    width: 30px;
    height: 30px;
}

.AuthorDetails2{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

.Article1CardText2{
    font-family: Montserrat;
    font-size: 10px;
    line-height: 7px;
    margin-left: 4%;
}

.AuthorName2{
    font-weight: 600;
}

.WrittenBy, .ArticleCard2end{
    color: grey;
    font-size: 9px;
}

.ArticleCard1iconsmobile{
    display: none;
}

@media screen and (max-width: 600px){

    .ArticleCard1Wrapper{
        background-color: white;
    }

    .ArticleSideFixedDiv{
        display: none;
    }

    .ArticleCard1main{
        width: 90%;
        height: 1350px;
    }

    .ArticleCard1iconslaptop{
        display: none;
    }

    .ArticleCard1iconsmobile{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width:150px;
        /* border: 2px solid burlywood; */
        margin-bottom: 20px;
    }

    .ArticleCard1iconmobile{
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        background-color: #d8d8d8;
        font-size: 20px;
        margin-right: 4px;
        width: 30px;
        height: 30px;
        border-radius: 20%;
    }

    .AuthorProfilePicture1{
        height: 75px;
        width: 75px;
    }

    .AuthorName1{
        font-size: 18px;
        padding-right: 0;
        margin-top: 10px;
    }

    .AuthorDetailsWrapper{
        width: 100%;
    }

    .ArticleCard1end{
        margin-top: 15px;
        font-size: 16px;
    }

    .ArticleCard1desc{
        line-height: 23px;
        font-size: 20px;
    }

    .Tag{
        font-size: 15px;
        height: 20px;
    }

    .ArticleCard1Clap img{
        height: 40px;
        width: 40px;
    }

    .ArticleCard1Clap {
        font-size: 15px;
    }

    .Article1CardText2{
        font-size: 18px;
    }

    .WrittenBy, .ArticleCard2end{
        color: grey;
        font-size: 12px;
    }
}